[Unit]
Description=Dinastycoin Full Node
After=network-online.target

[Service]
User=dinastycoin
Group=dinastycoin
WorkingDirectory=~
StateDirectory=dinastycoin
LogsDirectory=dinastycoin

Type=simple
ExecStart=/usr/bin/dinastycoind --config-file /etc/dinastycoin.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
